body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#michi{
    max-width: 400px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.1s ease;
}

.con-borde{
    border:2px solid red !important;
}